.col-3 {
    height: 200px;
    background: blue;
    border-radius: 15%;
}

body {
    background: #232323;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 30px;

}


#The-color {
    font-size: 50px;
}

#header {
    font-size: 30px;
    font-weight: 100;
}

#headerBg {
    background: blue;
}


.selected {
    background: blue;
    color: white;
}